<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Pokemon Collection</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<h2>Pokemon gotta catch them all</h2>

<%if logged_in?%>
  <p><a href='/logout'>Logout</a></p>
<%end%>
<%= yield %>

</body>
</html>