<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Pokemon Collection</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div>
<p><a href='/'>Go Home</a></p>

<%if logged_in?%>
  <p class="logout"><a href='/logout'>Logout</a></p>
<%end%>

<h2>Pokemon gotta catch them all</h2>


</div>




<%= yield %>

</body>
</html>