<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Fighter Tracker</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<h2>Pokemon gotta catch them all</h2>

<%= yield %>

</body>
</html>