<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Fighter Tracker</title>
</head>
<body>
<h2>Fighter Arena</h2>
<h4>Track track your Weapons and Spells!</h4>
<%= yield %>

</body>
</html>