<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Pokemon Collection</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div>

<%if logged_in?%>

<h2><a href="/trainers/<%=current_user.id%>">Pokemon gotta catch them all</a><h2>

  <form action='/logout' method="post">
    <input id=hidden type=hidden name=_method value=delete>
    <input type=submit value='Logout'>
  </form>

<%else%>

  <h2>Pokemon gotta catch them all</h2>
  <%end%>

</div>




<%= yield %>

</body>
</html>