<h4>Check out other Trainers</h4>
<ul>
  <% Trainer.all.each do |t|%>
  <li><%=t.trainer_name%></li>
  <ol>
    <%t.pokemon.each do |pokemon|%>
      <li><a href="/pokemon/<%=pokemon.id%>"><%=pokemon.name%></a>
        <br>
      </li>
    <%end%>
  </ol>
  <%end%>
</ul>

<p>check out all the pokemon <a href='/pokemon'>here</a></p>