<h2>login!</h2>

<form action='/login' method=POST>
  <label for=trainer_name>Trainer Name: </label>
  <input type=text name=trainer_name id=trainer_name>
  <br><br>

  <label for=password>Password: </label>
  <input type=password name=password id=password>
  <br><br>

  <input type=submit value='Login'>
</form>



<%if @failed%>
<p class="failed">Incorrect Trainer Name or Password</p>
<%end%>