<h4>Your collection!</h4>

<ol>
  <%@trainer.pokemon.each do |pokemon|%>
    <li><%=pokemon.name%>
      <ul>
        <li>pokemon.nickname</li>
        <li>pokemon.type</li>
      </ul>
    </li>
  <%end%>
</ol>
